@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "Holtwood";
    src: url("font/HoltwoodOneSC-Regular.ttf");
  }
  @font-face {
    font-family: "Arvo";
    src: url("font/Arvo-Regular.ttf") format(".ttf");
  }
  @font-face {
    font-family: "Poppins";
    src: url("font/Poppins-Thin.ttf") format(".ttf");
  }
}
